@charset "UTF-8";


.index .box.info{ box-sizing:border-box; display:table; width:100%; border:1px solid #e3e3e3; margin:0 0 15px; border-radius:5px; overflow:hidden;}
.index .box.info .ttl{ background: #fafafa; color:#444; padding:1% 2%; text-align:left; vertical-align:top; white-space:nowrap;}
.index .box.info .ttl span{ background: url(../images/home/icon_info.png) 0px center no-repeat #f8f8f8; padding:0 0 0 25px;}
.index .box.info .info_list li span{ font-weight:bold; color:#c00; font-size:20px; margin:0 4px;}
.index .box.info .cont{ }
.index .box.info .cont ul{ overflow:scroll; overflow-x:hidden; height:7rem; padding:8px; }
.index .box.info .cont ul li{ background:url(../images/common/icon_arrow_orange_03.png) 0 center no-repeat; padding:0 0 0 18px; margin:2% 0; font-size:1.2rem; line-height:110%;}


.index .search_state_list{ font-size:1.4rem;}
.index .search_state_list:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.index .search_state_list li{ margin:1.5%; }
.index .search_state_list li label{ display:block; }
.index .detail_cond_01 li{ }
.index .detail_cond_02 li,.index .detail_cond_03 li,.index .detail_cond_04 li,.index .detail_cond_05 li{ }


/*.index .map .inner:before{ content:url(../images/home/map_jpn.png); position:absolute; left:15px; top:8px;}
.index .map .inner:after{ content:url(../images/home/img_driver.png); position:absolute; left:185px; top:165px;}
*/

.index .map{ /*border:3px solid #87c20a; height:320px;*/ margin:0 0 25px;}
.index .map > .ttl{ border-bottom:1px solid #87c20a; background:url(../images/common/icon_mglass.png) 10px center no-repeat; padding:9px 35px; font-size:1.6rem; line-height:100%;}
.index .map .inner{ margin:3% 0; position:relative;}
.index .map .area_list{ margin-top:2px; line-height:1.5rem; }
.index .map .area_list li{ display:inline-block; font-size:1.2rem; margin:1% 0.5%; }
.index .map .area_list li a{ background:#f5f5f5; border:1px solid #ddd; padding:5px 7px; display:block; width:auto; white-space:nowrap; border-radius:7px;}
.index .map .area_unit .ttl{ display:block; background: #f8f8f8; border: 1px solid #ddd; border-width:1px 0; font-size:1.2rem; line-height:100%; padding:1%; margin:0 0 1.5%;}
.index .area_unit{ margin:1% 0% 3%;}
.index .map_japan{ text-align:center; margin:0 0 2%;}
.index .search_simple{ margin:0 0 25px;}
.index .search_simple .search_cont{ border:3px solid #ddd; background:#ffffe5; padding:3%;}
.index .search_simple li{ margin: 0 0 3%; }
.index .search_simple li:last-child{ margin:0; }
.index .search_simple li .inner{ border:4px solid #ddd; position:relative; display:table; width:100%;}
.index .search_simple li .inner > span{ display:table-cell; vertical-align:middle; background:#fff; width:100%; }
.index .search_simple li .inner > span.item_name{ border-right:2px solid #ddd; font-size:12px; text-align:center; line-height:12px; padding:2px 7px; width:25%; white-space:nowrap; }
.index .search_simple li .inner > span.item_name span{ display:block; font-size:9px; }
.index .search_simple li .inner select{ border:none; height:36px; text-align:-webkit-center; width:100%;}
.index .search_simple li.keyword input{ border:none; height:36px; width:100%; text-align:-webkit-center;}
.index .search_simple li .btn_01{ display:block; text-align:center; font-size:2.0rem; padding:13px 20px 11px;}

table.search_detail{ border: 3px solid #ddd; margin:0 0 0;}
table.search_detail th,
table.search_detail td{ text-align:left; padding:1.5% 3%;}

table.search_detail th{ border:1px solid #ddd; border-width:1px 0; }
table.search_detail td{ border:0; }
table.search_detail th.ttl{ font-size:16px; background:#eef6dc; line-height:100%; padding-top:12px;}
table.search_detail th.ttl span{ background:url(../images/common/icon_mglass_03.png) 0 center no-repeat; background-size:18px 18px; padding:0 0 0 25px;}
table.search_detail input[type="radio"],table.search_detail input[type="checkbox"] {-webkit-transform: scale(1.4);transform: scale(1.4);margin: 0 5px 0 0;width: auto;}

