<header>

<div class="head_bar">
  <div class="inner">
    <div class="left">
      <p class="head_copy">タクシー、バス、トラックドライバーの求人情報サイト。ドライバー派遣、募集、転職、運行管理者等の運送業、物流の求人サイト　ドラジョブ</p>
    </div>
    <div class="right">
      <ul class="pos cf">
        <li><a href="/driverjob/user/index.html" class="user">会員登録</a></li>
        <li><a href="/driverjob/client/index.html" class="client">採用ご担当者様</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="inner">

  <h1><%= link_to image_tag("logo.jpg"), :action => "home" %></h1>

  <div class="head_bnr pc">
    <a href="#"><img src="/driverjob/images/common/bn_mynavi_728_90.gif" alt="" /></a>
  </div>

</div>

<nav>
<ul class="gnav">
  <li><a href="/driverjob/index.html"><span>求人情報を探す</span></a></li>
  <!--  <li><a href="/driverjob/mypage/bookmark/index.html"><span>検討中フォルダ</span></a></li>
<li><a href="/driverjob/user/user.html"><span>ドライバーの皆様へ</span></a></li>-->
  <li><a href="/driverjob/driver_school/index.html"><span>免許学校を探す</span></a></li>
    <li><a href="/driverjob/user/login.html"><span>マイページ</span></a></li>
</ul>
</nav>

</header>
